{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts by Category</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
</head>
</head>
<body>
    <header class="navbar" style="background-color: rgb(235, 219, 198);">
        <nav class="container-fluid d-flex justify-content-between py-4">
            <div class="logo ms-4">
                <a href="{% url 'home' %}">
                    <img src="{% static '/media/logo/logo.png' %}" alt="" style="width: 100px; height:50px;">
                </a>
            </div>
            <!-- if user authenticated it show logout and image -->
            <div class="side d-flex justify-content-between col-3 me-3">
            {% if user.is_authenticated %}
                    <p class="align-self-end " style="font-size: 20px; font-weight:600;">Welcome {{user_profile.user.username}}</p>
                    <img class="me-5" src="{{ user_profile.imageURL }}" alt="" style="width: 50px; height: 50px; border-radius: 25px;"> 
                    
                    <button class="btn  btn-danger " >
                        <a href="/logout" style="text-decoration: none; color:aliceblue;">Log out</a>
                    </button>
                    
            {% else %}e
                <button>
                    <a href="/signin">Signin</a>
                </button>
                <button>
                    <a href="/signup">Signup</a>
                </button>
                    <!-- <h3>user.username</h3> --> 
            {% endif %}
            </div>
        </nav>
    </header>
    <div class="container my-3">
        <button class="create">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg> <a href="{% url 'upload_post' %}">Create Post</a>
            </span>
        </button>
    </div>
    <h1 class="continer">Posts by Category: {{ category.name }}</h1>
    
    <div class=" container post-list ">
        {% for post in posts %}
            <div class="post my-5">
                <h2><a href="{% url 'detail'  post.id %}">{{ post.title|title }}</a></h2>
                <h5>{{ post.content|truncatewords:15 }}</h5>
                <p>Posted by :{{ post.creator }}</p>
                <h5>Created at :{{ post.created_at|timesince }} ago</h5> 
                <ul>
                    {% for comment in all_comments %}
                        <h3>{{post.post_count}}Comments</h3>
                        <li>{{ comment }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</body>
</html>
<main>
    <div class="container">
        <div class="tt-wrapper-inner">
            <h4 class="tt-title-border mt-3 mb-3" style="letter-spacing: .01em; font: 16px 500 'Krub', sans-serif;">
                Create New Topic
            </h4>
            <hr>
            <form class="form-default form-create-topic">
                <div class="form-group">
                    <label for="inputTopicTitle" style="font-size: 16px; font-weight:600;">Topic Title</label>
                    <div class="tt-value-wrapper d-flex my-3">
                        <input type="text" name="name" class="form-control" id="inputTopicTitle" placeholder="Subject of your topic">
                        <span class="tt-value-input ">99</span>
                    </div>
                    
                </div>
                <div class="pt-editor">
                    <h6 class="pt-title my-3" style="font-size: 16px; font-weight:600;">Topic Body</h6>
                    <div class="pt-row">
                        <div class="col-left">
                            <ul class="pt-edit-btn d-flex list-unstyled">
                                <li><button type="button" class="btn-icon">
                                    <i class="fa-regular fa-message" style="color: #050505;"></i>
                                </button></li>
                                <li><button type="button" class="btn-icon ms-3">
                                    <i class="fa-solid fa-bold" style="color: #030303;"></i>
                                </button></li>
                                <li><button type="button" class="btn-icon ms-3">
                                    <i class="fa-solid fa-italic" style="color: #050505;"></i>
                                </button></li>
                                <li><button type="button" class="btn-icon ms-3">
                                    <i class="fa-solid fa-link" style="color: #050505;"></i>
                                </button></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <textarea name="message" style="background-color: #E2E7EA;" class="form-control" rows="5" placeholder="Lets get started"></textarea>
                    <sider-quick-compose-btn data-gpts-theme="light"></sider-quick-compose-btn></div>
                    <div class="row">
                        <div class="col-md-4 mb-2">
                            <div class="form-group">
                                <label for="inputTopicTitle">Category</label>
                                <select class="form-control" style="background-color: #E2E7EA;">
                                    <option value="Select">Select</option>
                                    <option value="Value 01">Value 01</option>
                                    <option value="Value 02">Value 02</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 mb-2">
                            <div class="form-group">
                                <label for="inputTopicTitle">Category</label>
                                <select class="form-control" style="background-color: #E2E7EA;">
                                    <option value="Select">Select</option>
                                    <option value="Value 01">Value 01</option>
                                    <option value="Value 02">Value 02</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-8 mb-2">
                            <div class="form-group">
                                <label for="inputTopicTags">Tags</label>
                                <input type="text"  name="name" class="form-control" id="inputTopicTags" placeholder="Use comma to separate tags">
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex">
                        <div class="col-auto ml-md-auto flex-end">
                            <a href="#"  class="btn btn-primary btn-width-lg create-btn">Create Post</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
</main>